/HelloWorld/nbproject/private/
/HelloWorld/dist/
/HelloWorld/build/
/SimpleIO/nbproject/private/
/SimpleIO/build/
/ErrorHandling/nbproject/private/
/ErrorHandling/build/
/ObjectOrientedDemo/nbproject/private/
/ObjectOrientedDemo/build/
/mutableVsImmutable/nbproject/private/
/mutableVsImmutable/build/
/StaticDemo/nbproject/private/
/StaticDemo/build/
/ArrayMethodDemo/nbproject/private/
/ArrayMethodDemo/build/
/InheritanceDemo/nbproject/private/
/InheritanceDemo/build/
/InterfaceDemo/nbproject/private/
/InterfaceDemo/build/
/InterfaceDemo/dist/
/ModifierDemo/nbproject/private/
/ListDemo/nbproject/private/
/ListDemo/build/
/FileHandlingDemo/nbproject/private/
/FileHandlingDemo/build/
/GenericsDemo/nbproject/private/
/GenericsDemo/build/
/LambdaDemo/nbproject/private/
/LambdaDemo/build/
